@media screen and (max-width:576px) {
    nav .nav-item ul {
        display: none;
    }
    .banner-input {
        flex-direction: column;
        margin: 40px;
    }
    .banner-input input,
    select,
    button {
        width: 90%;
        margin-left: 15px;
    }
    .banner-content {
        padding-top: 30px;
    }
    .banner-text .banner-title,
    .section-title,
    .section-title-center {
        font-size: 25px;
    }
    .popular,
    .perfect-place,
    .subscribe {
        flex-direction: column;
        padding: 10px 0;
    }
    .popular * {
        margin-bottom: 10px;
    }
    .popular .popular-img img,
    .video {
        width: 100%;
    }
    .popular .common-btn,
    .perfect-place .common-btn {
        width: 60%;
        margin-left: 0;
    }
    .choose-content .card {
        grid-template-columns: repeat(1, 1fr);
    }
    .choose-content .card-3 {
        max-width: 100%;
    }
    .discount-content .discount-item-1,
    .discount-item-2 {
        align-items: end;
        justify-content: center;
    }
    .discount-content .hide-p {
        display: none;
    }
    .discount-item-content-1,
    .discount-item-content-2 {
        width: 80%;
        height: 70%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .discount-content .common-btn,
    .subscribe .common-btn {
        margin-left: 0;
    }
    .subscribe-from {
        height: auto;
        width: auto;
    }
    .subscribe-content img {
        width: 100%;
    }
}